.add-color{
background:#0079ff;
}

.remove-color{
    background: #e33144;
}

.detail-color{
    background: #fec107;  
}

.btn-size{
    border: none;
    width:5em;
    height:2.3em;
    border-radius: 0.3em;
    padding:0.5em;
}
